
.static-header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

.month-label {
  font-weight: 700;
  text-align: center;
  padding: 6px 0;
}

.weekday-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday-cell {
  text-align: center;
  font-weight: 600;
  padding: 4px 0;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  min-height: 56px;
  
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.calendar-day.current-month {
  color: #000; 
  font-weight:700;
  background: #fff;
}

.calendar-day.other-month {
  color: #aaa; 
}
::-webkit-scrollbar {
  display: none; 
}
